<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ alt_seo:meta }}
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        {{ livewire:styles }}
        <script src="https://kit.fontawesome.com/e0d0f0233f.js" crossorigin="anonymous"></script>
        <style>
         :root {
         --color-primary: {{ site_settings:primary_colour }};
        --color-secondary: {{ site_settings:secondary_colour }};
        --color-accent: {{ site_settings:third_colour }}
         }
        </style>
    </Head>
    <body class=" font-sans leading-normal">
        {{ partial:partials.navigation }}
{{ template_content  }}

        {{ partial:partials.footer }}

        {{ AltCookies:Toast }}
        {{ livewire:scripts }}
    </body>
</html>
