@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";
@plugin "daisyui" {
     themes: light --default;
};
@plugin "daisyui/theme" {
    name: "light";
    default: true;

}


address {
 @apply not-italic
}
